.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  color: white;
}

.App-header img {
  margin: 0 2px;
  vertical-align: -12px;
}

.box {
  height: 130px;
  transition: all 0.1s ease;
}

.box:hover {
  margin: -4px 0 4px;
}

.tweets {
  max-width: 1200px;
}

.logo {
  animation: 5s rotate linear infinite;
}

.clock {
  vertical-align: -3px;
}

.info {
  right: 15px;
}

.help {
  top: 0;
  left: 0;
  visibility: hidden;
}

.help.appear {
  top: -50px;
  left: 0;
  /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06); */
  visibility: visible;
  transition: top 0.4s ease-in-out, visibility 0.4s ease-in-out 0.2s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
